
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Jost:wght@300;400;500;600&display=swap');

.grid{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    color: white;
}

.cabecalho{
    margin-bottom: 5px;
}

.banner{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../public/img/hamburger2.jpg);
    background-size: cover;
}

.menu{
    border: 1px solid black;
    height: 50px;
    margin-bottom: 5px;
}

.pesquisa{
    border: 1px solid black;
    height: 20px;
}


.home{
    border: 1px solid black;
    height: 800px;
}
.cardapio{
    border: 1px solid black;
    height: 800px;
}


.informacoes{
    border: 1px solid black;
    height: 800px;
}

.rodape{
    border: 1px solid black;
    height: 200px;
    margin-top: 5px;
}

.perfil-user{
    width: 45px;
    height: 45px;
}
.font-Logo{
    font-size: 35px;
    font-family: 'Aladin' , sans-serif;
}
.link{
    cursor: pointer;
}

.bem-vindo{
    font-size: 35px;
    text-align: center;
    font-weight: bolder;
    color:black; /* Define a cor do texto */
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}
.input-group{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-pesquisar{
    background-color:#EF9308;
    border: none;
    border-radius: 5px;
    height: 38px;
}